@using Infrastructure.Models
@model IEnumerable<Infrastructure.Models.Producto>




<div class="card text-dark bg-light mb-3" style="max-width: 18rem; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
    <div class="card-header text-white bg-primary">Cantidad total de productos registrados.</div>
    <div class="card-body">
        <h5 class="card-title">
            Total: @{
                Html.RenderAction("_TotalProductos", "Producto");
            } productos.
        </h5>
    </div>
</div>
