@using Infrastructure.Models
@model IEnumerable<Infrastructure.Models.GestionInventario>

<div class="card text-dark mb-3 p-1" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
    <div class="card-header text-white bg-primary">Cantidad de salidas registradas en el día.</div>
    <div class="card-body bg-light">
        <h5 class="card-title">
            Total: @{
                Html.RenderAction("_TotalSalidas", "Inventario");
            } Salidas.
        </h5>
    </div>
</div>
