@{
    ViewBag.Title = "Acerca de nosotros";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />
<p>Somos Almacen del Barrio, su mejor opcion. Nos pueden visitar en nuestras 4 sucursales.</p>
<br />
<br />
<div class="row">
    <div class="col-sm-6" style="max-width: 540px;">
        <div class="row g-0" style="background-color: whitesmoke;">
            <div class="col-md-4">
                <img src="~/img/1556309944054.jpg" class="img-fluid rounded-start" alt="BryanRojas">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bryan Rojas Loria</h5>
                    <p class="card-text">Dirección: Alajuela, Tuetal Sur</p>
                    <p class="card-text">Teléfono: 8868-7513</p>
                    <p class="card-text">Correo: brrojas@almdelbarrio.com</p>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" style="max-width: 540px;">
        <div class="row g-0" style="background-color: whitesmoke;">
            <div class="col-md-4">
                <img src="~/img/118636845.jpg" class="img-fluid rounded-start" alt="MiguelMejias">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Miguel Mejias Arce</h5>
                    <p class="card-text">Dirección: Alajuela, Central</p>
                    <p class="card-text">Teléfono: 7210-8833</p>
                    <p class="card-text">Correo: mimejias@almdelbarrio.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
