
@{
    ViewBag.Title = "Recurso no encontrado";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-light bg-opacity-75 p-3 rounded border border-1 border-danger mx-lg-5 shadow-lg">
                <div class="mt-2 mb-5 text-center">
                    <h1 class="text-primary">
                        Oops!
                    </h1>
                    <h2 class="text-danger">
                        404 Recurso no encontrado
                    </h2>
                    <hr class="border border-danger" />
                </div>
                <div>
                    <p class="text-md-center">Lo sentimos, se ha producido un error, no se ha encontrado el recurso o página solicitado.</p>
                </div>
                <div class="mb-2 mt-5 text-md-center">
                    <input type="button" value="Regresar" class="btn btn-danger bg-gradient btn-lg rounded" onclick="goBack()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>